<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cagatay | Hotel</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/stylesheets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="canvas-open">
        <i class="icon_menu"></i>
    </div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="icon_close"></i>
        </div>
        <div class="search-icon  search-switch">
            <i class="icon_search"></i>
        </div>
        <div class="header-configure-area">
            <div class="language-option">
                <img src="/stylesheets/img/turk.jpg" alt="">
                <span>EN <i class="fa fa-angle-down"></i></span>
                <div class="flag-dropdown">
                    <ul>
                        <li><a href="#">Zi</a></li>
                        <li><a href="#">Fr</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="bk-btn">Booking Now</a>
        </div>
        <nav class="mainmenu mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./rooms.html">Rooms</a></li>
                <li><a href="./about-us.html">About Us</a></li>
                <li><a href="./pages.html">Pages</a>
                <ul class="dropdown">
                    <li><a href="/tek">Tek Oda</a></li>
                    <li><a href="/aile">Aile Odası</a></li>
                    <li><a href="/premium">Premium Oda</a></li>
                </ul>
                </li>
                <li><a href="./blog.html">News</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="top-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-tripadvisor"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
        <ul class="top-widget">
            <li><i class="fa fa-phone"></i> (12) 345 67890</li>
            <li><i class="fa fa-envelope"></i> info.colorlib@gmail.com</li>
        </ul>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
    <div class="top-nav">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <ul class="tn-left">
                    <li><i class="fa fa-phone"></i>(+90) 555 555 5555</li>
                    <li><i class="fa fa-envelope"></i> cagatay135@gmail.com</li>
                </ul>
            </div>
            <div class="col-lg-6">
                <div class="tn-right">
                    <div class="top-social">
                        <a href="#"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp; <%= @username %></a>
                    </div>
                    <% if @username.length > 0 %>
                    <button class="bk-btn" type="submit" onclick="location.href='/login'">Çıkış Yap</button>
                    <% end %>
                    <div class="language-option">
                        <img src="/stylesheets/img/turk.jpg" alt="">
                        <span>TR <i class="fa fa-angle-down"></i></span>
                        <div class="flag-dropdown">
                            <ul>
                                <li><a href="#">EN</a></li>
                                <li><a href="#">FR</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/">
                         <img src="/stylesheets/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="nav-menu">
                            <nav class="mainmenu">
                            <ul>
                            <li><a href="/">ANASAYFA</a></li>
                            <li class="active"><a href="/room">ODALARIMIZ</a>
                            <ul class="dropdown">
                                <li><a href="./room-details.html">Tek Oda</a></li>
                                <li><a href="#">Aile Odası</a></li>
                                <li><a href="#">Premium Oda</a></li>
                            </ul>
                            </li>
                            <li><a href="/about">HAKKIMIZDA</a></li>
                            <li><a href="/contact">İLETİŞİM</a></li>
                            <li><a href="/register">KAYIT OL</a></li>
                            <li><a href="/login">GİRİŞ YAP</a></li>
                             </ul>
                            </nav>
                            <div class="nav-right search-switch">
                                <i class="icon_search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>Odalarımız</h2>
                        <div class="bt-option">
                            <a href="/">ANASAYFA</a>
                            <span>Odalar</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section End -->

    <!-- Room Details Section Begin -->
    <section class="room-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="room-details-item">
                        <img src="<%= @query[0][9] %>" alt="">
                        <div class="rd-text">
                            <div class="rd-title">
                                <h3><%= @query[0][8] %></h3>
                                <div class="rdt-right">
                                    <div class="rating">
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star"></i>
                                        <i class="icon_star-half_alt"></i>
                                    </div>
                                    <a href="#">Rezerve Et</a>
                                </div>
                            </div>
                            <h2><%= @query[0][2] %>$<span>/Bir Gece</span></h2>
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="r-o">Boyut : </td>
                                        <td><%= @query[0][3] %> m²</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Kapasite :</td>
                                        <td>Max <%= @query[0][4] %> Kişi</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Servisler : </td>
                                        <td><%= @query[0][5] %></td>
                                    </tr>
                                </tbody>
                            </table>
                            <p class="f-para">
                            <%= @query[0][7] %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="room-booking">
                        <h3>Rezervasyonunuz</h3>
                        <form action="/uygunluk"  method="POST">
                            <div class="check-date">
                                <labelfor="date-in">Giriş : </label>
                                <input  name="date-in"  type="text" class="date-input" id="date-in">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="check-date">
                                <label for="date-out">Çıkış :</label>
                                <input name="date-out" type="text" class="date-input" id="date-out">
                                <i class="icon_calendar"></i>
                            </div>
                            <div class="select-option">
                                <label for="guest">Misafir : </label>
                                <select id="guest">
                                    <option value=""><%= @query[0][4] %> Kişi</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <label for="room">Oda :</label>
                                <select id="room">
                                    <option value="">1 Oda</option>
                                </select>
                            </div>
                            <button type="submit">Rezerve Et</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Room Details Section End -->


    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#">
                                    <img src="/stylesheets/img/footer-logo.png" alt="">
                                </a>
                            </div>
                            <p>Binlerce Yolcuya Yol Gösteriyoruz</p>
                            <div class="fa-social">
                                <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                                <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.tripadvisor.com"‎><i class="fa fa-tripadvisor"></i></a>
                                <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                                <a href="https://www.youtube.com"><i class="fa fa-youtube-play"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>İletişime Geç</h6>
                            <ul>
                                <li>(+90) 555 555 5555</li>
                                <li>cagatay135gmail.com</li>
                                <li>Akyazı Mahallesi Fatih Caddesi 9973 Beşiktaş / İstanbul </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Yeni Haberler</h6>
                            <p>Yeni Haberleri Almak İçin</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">İletişim</a></li>
                            <li><a href="#">Şartlar</a></li>
                            <li><a href="#">Gizlilik</a></li>
                            <li><a href="#">Politikalarımız</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text"><p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> | Tüm Hakları Saklıdır <br>  <a href="#" target="_blank">Çağatay</a> <i class="fa fa-heart" aria-hidden="true"></i> Tarafından</p></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form" action="/rightsearch" method="post">
            <input type="text" name="ad" id="search-input" placeholder="Ara...">
        </form>
    </div>
</div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/stylesheets/js/jquery-3.3.1.min.js"></script>
    <script src="/stylesheets/js/bootstrap.min.js"></script>
    <script src="/stylesheets/js/jquery.magnific-popup.min.js"></script>
    <script src="/stylesheets/js/jquery.nice-select.min.js"></script>
    <script src="/stylesheets/js/jquery-ui.min.js"></script>
    <script src="/stylesheets/js/jquery.slicknav.js"></script>
    <script src="/stylesheets/js/owl.carousel.min.js"></script>
    <script src="/stylesheets/js/main.js"></script>
</body>

</html>